<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    .navbar {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
    width:800px;
    left:22%;
    top:10%;
  }
  </style>
  </head>
  <body>
  <br>
  
  <div class="navbar navbar-dark bg-dark a">
  <a href="/login" class="routerlink navbar-brand">Login</a>
  </div>
  </body>
  <router-outlet></router-outlet>
  